.custom-dropdown {
  width: 95%;
  text-align: center;
  overflow-y: auto;
  max-height: 200px;
  cursor: "pointer";
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
}

.position-relative .dropdown-menu.show {
  display: block;
}

.suggest-city {
  color: rgb(0, 0, 0);
  font-size: small;
}

.suggest-country {
  color: rgb(168, 166, 166);
  font-size: smaller;
}
