.forecast-body {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto !important;
  margin-top: 10px;
  background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 30%,
      rgb(79, 167, 255) 100%
    )
    transparent;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

.weather-col {
  min-width: 10rem;
  margin: 1rem;
  padding: 2rem;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thermometer {
  width: 20px;
  height: 100px;
  background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 30%,
      rgb(243, 14, 14) 100%
    )
    transparent;
  border-radius: 10px;
  margin: 1rem auto;
}

.weather-description {
  margin-top: 1rem;
  font-size: 1.5rem;
  height: 5rem;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-date-name {
  color: #257aef;
}
.weather-date {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  background-color: #257aef;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
}
