.alert {
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-align: center;
}

.no-page-row {
  margin-top: 3rem;
  text-align: center;
}

.no-page-col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-color: rgb(5, 123, 249) !important;
  border: 2px solid;
  border-radius: 10px;
}
